.action-buttons {
    display: flex;
    justify-content: center; /* Aligns buttons horizontally in the center */
    gap: 10px; /* Space between buttons */
}

.btn-logout {
    width: 100px;                  /* Set width and height to make button a square */
    height: 35px;
    background-color: #e74c3c; /* Red color for Logout button */
    color: white; /* White text for visibility */
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 14px; /* Rounded corners */
}

.btn-back, .btn-back1{
    width: 100px;                  /* Set width and height to make button a square */
    height: 35px;
    background-color: #4A4A4A; /* Dark gray for an elegant look */
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 14px; /* Rounded corners */
}
.btn-submit, .btn-review  {
    width: 100px;                  /* Set width and height to make button a square */
    height: 35px;
    background-color: navy; 
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 14px; /* Rounded corners */
    display: center;
    align-items: center; /* Centers the button vertically */

}
.btn-clear{
    width: 100px;                  /* Set width and height to make button a square */
    height: 35px;
    background-color: #333333; 
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 14px; /* Rounded corners */
    display: center;
    align-items: center; /* Centers the button vertically */
}

